<!-- Left Panel -->
<app-painel-lateral></app-painel-lateral>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <app-header></app-header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <router-outlet></router-outlet>
        <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- /.site-footer -->
</div>